<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试计划列表</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="container mt-3 navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">自动化测试</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">测试用例</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/testplan_list">测试计划</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/testplan_report">测试报告</a>
            </li>

        </ul>
    </div>
</nav>
<div id="main" class="container mt-3">
    <h3>测试计划列表</h3>
    <input class="btn btn-primary btn-sm" value="新建测试计划">
    <form action="/testplan_run" method="post">
        <table class="table mt-3 table-hover table-sm">
            <thead>
            <tr>
                <th></th>
                <th>测试计划名称</th>
                <th>用例数量</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for testplan in testplans %}
                <tr>
                    <td><label>
                        <input type="radio" name="testplan_name" value="{{ testplan.testplan_name }}">
                    </label></td>
                    <td>{{ testplan.testplan_name }}</td>
                    <td>{{ testplan.testcases_count }}</td>
                    <td>{{ testplan.create_time }}</td>
                    <td><a href="#">查看</a> <a href="testplan_run?testplan_name={{ testplan.testplan_name }}">运行</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>


        </table>

    </form>
</div>

<script src="../static/js/jquery.slim.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>